<!--- EmpleadoForm.html -->
<!DOCTYPE html>
<html>
  <head>
    <title>Registro de Empleado</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script>
      $(document).ready(function () {
        $("#id_cargo").change(function () {
          $(".cargo-form").hide();
          $("#" + $(this).val()).show();
        });
      });
    </script>
  </head>
  <body>
    <h2>Registro de Empleado</h2>
    <form method="POST" action="{% url 'empleadoSignUp' %}">
      {% csrf_token %} {{ form.as_p }}
      <input type="submit" value="Siguiente" />
    </form>
  </body>
</html>
